#body
{
	height:1900;
	background-color:linen;
	padding:5px;
<<<<<<< HEAD
	/*overflow:scroll;*/
=======
>>>>>>> 651b91b8c0c383b2c521d8ca4a1a64d598a8f07d
}
.padding 
{
    padding-top: 400px;
    padding-right: 50px;
    padding-bottom: 400px;
    padding-left: 50px;
}